{cover_export_enabled, true}.

{cover_enabled, true}.

{deps, [
    {grpcbox, {git, "https://github.com/novalabsxyz/grpcbox.git"}},
    {lager, "3.9.2"},
    {throttle, "0.3.0", {pkg, lambda_throttle}},
    {helium_proto, {git, "https://github.com/helium/proto.git", {branch, "macpie/packet_router"}}},
    {erlang_lorawan, {git, "https://github.com/helium/erlang-lorawan.git", {branch, "master"}}},
    {libp2p_crypto, {git, "https://github.com/helium/libp2p_crypto.git", {branch, "master"}}}
]}.

{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors
]}.

{plugins, [
    {grpcbox_plugin, {git, "https://github.com/novalabsxyz/grpcbox_plugin.git"}},
    {rebar3_format, "1.2.1"},
    {erlfmt, "1.0.0"}
]}.

{pre_hooks, []}.

{format, [
    {ignore, ["src/grpc/autogen/**/*"]},
    {files, [
        "rebar.config",
        "{src,include,test}/**/*.{hrl,erl,app.src}",
        "config/{sys,ct,grpc_server_gen}.{config,config.src}"
    ]},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used
]}.

{xref_ignores, [
    router_pb,
    router_client_pb,
    state_channel_pb,
    state_channel_client_pb,
    gateway_client_pb
]}.

{relx, [
    {release, {hpr, "1.0.0"}, [hpr]},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {sys_config_src, "config/sys.config.src"},
    {include_src, true},
    {overlay, []},
    {generate_start_script, true},
    {extended_start_script, true},
    {extended_start_script_extensions, []}
]}.

{shell, [
    {apps, [hpr]}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]}
    ]}
]}.

{ct_opts, [{sys_config, "config/ct.config"}]}.
