[Unit]
Description=Helium Packet Router service
Documentation=https://github.com/helium/helium-packet-router/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/var/run/hpr.pid

ExecStart=/opt/hpr/hpr/bin/hpr background
RemainAfterExit=yes

WorkingDirectory=/opt/hpr/hpr
ExecReload=/opt/hpr/hpr/bin/hpr restart
ExecStop=/opt/hpr/hpr/bin/hpr stop

[Install]
WantedBy=multi-user.target
