[Unit]
Description=Helium packet-router service
Documentation=https://github.com/helium/helium-packet-router
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
User=helium
Group=helium

ExecStart=/bin/hpr background
RemainAfterExit=yes

WorkingDirectory=/opt/hpr/hpr
ExecReload=/bin/hpr restart
ExecStop=/bin/hpr stop

[Install]
WantedBy=default.target
