[
    {hpr, [
        {packet_reporter, #{
            aws_key => "testkey",
            aws_secret => "testsecret",
            aws_region => "us-west-2",
            aws_bucket => "test-bucket",
            report_interval => 300_000,
            report_max_size => 50_000_000
        }},
        {config_worker, #{
            host => "localhost",
            port => 50051,
            file_backup_path => "/var/data/hpr/config_worker.backup"
        }}
    ]},
    {grpcbox, [
        {servers, [
            #{
                grpc_opts => #{
                    service_protos => [packet_router_pb],
                    services => #{
                        'helium.packet_router.packet' => hpr_packet_service
                    }
                },
                transport_opts => #{ssl => false},
                listen_opts => #{
                    port => 8080,
                    ip => {0, 0, 0, 0}
                },
                pool_opts => #{size => 500},
                server_opts => #{
                    header_table_size => 4096,
                    enable_push => 1,
                    max_concurrent_streams => unlimited,
                    initial_window_size => 65535,
                    max_frame_size => 16384,
                    max_header_list_size => unlimited
                }
            }
        ]}
    ]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {log_root, "/var/log/hpr"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_console_backend, [
                {level, info}
            ]},
            {lager_file_backend, [
                {file, "info.log"},
                {level, info},
                {size, 0},
                {date, "$D0"},
                {count, 7},
                {formatter_config, [
                    "time=",
                    date,
                    "T",
                    time,
                    " lvl=",
                    severity_upper,
                    " ",
                    metadata,
                    " msg=\"",
                    message,
                    "\"",
                    "\n"
                ]}
            ]}
        ]}
    ]},
    {prometheus, [
        {collectors, [
            prometheus_boolean,
            prometheus_counter,
            prometheus_gauge,
            prometheus_histogram,
            prometheus_vm_memory_collector,
            prometheus_vm_system_info_collector
        ]},
        {vm_system_info_collector_metrics, [process_count]}
    ]}
].
