[
    {grpcbox, [
        {servers, [
            #{
                grpc_opts => #{
                    service_protos => [router_pb, state_channel_pb],
                    services => #{
                        'helium_packet_router' => helium_packet_router_service
                    }
                },
                transport_opts => #{ssl => false},
                listen_opts => #{
                    port => 8080,
                    ip => {0, 0, 0, 0}
                },
                pool_opts => #{size => 500},
                server_opts => #{
                    header_table_size => 4096,
                    enable_push => 1,
                    max_concurrent_streams => unlimited,
                    initial_window_size => 65535,
                    max_frame_size => 16384,
                    max_header_list_size => unlimited
                }
            }
        ]}
    ]}
].
